<html>
<head>
<title>Covid-19 Doctor App</title>   
<!-- <link rel="stylesheet" type="text/css" href="../static/css/main.csss">  -->
<link rel="stylesheet" type="text/css" href="../static/css/general.css">
</head>
<body >
  <div class="main_container">
    <div id="nav" >
        <img id="icon-nav" src="../static/images/Group 29.png"> </img>
        <h1  id="heading-main">DocApp</h1>
        <div class="profile">
          <img class="profile-pic" src="../static/images/profile.png"></img>
          <h3 id="name">Biswa Kr</h3>
          <h3 id="address"> Lajpat Nagar, Delhi</h3>
          </div>
    </div>
    <div class="infobox">
      <div class="searchbox">
        <h2 style="padding-top: 2vh;">Search</h2>
              <form class="search-form" action="">
                <input type="text" id="search-input"  placeholder="Search ">      
                <input type="submit" value="search" id="button">
              </form>
      </div>
      <!-- <div class="heading_bar">
        <div class="heading_child">Heading</div>
        <div class="heading_child">Heading</div>
      </div> -->
      <div class="contentbox">
        <div class="sidebar">
        <div class="heading_child">Heading</div>
          <ul>
            <li><a href="../template/dashboard.html" >Dashboard</a></li>
            <li><a href="#">People</a></li>
            <li><a href="../template/hotspots.html">Hotspots</a></li>
            <li><a href="../template/maps.html">Maps</a></li>
          </ul>
        </div>
        <div class="workarea">
          <div class="notification_box">
            <div class="heading_child" style="margin-bottom: 2vh;">Heading</div>
            <div class="notification_card"></div>
            <div class="notification_card"></div>
            <div class="notification_card"></div>
          </div>
          <div class="notification_box">
            <div class="heading_child">Heading</div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
