<html>
<head>
<title>Covid-19 Doctor App</title>   
<link rel="stylesheet" type="text/css" href="../static/css/landing.css">
</head>
<body >
  <div class="main_container">
    <div id="nav" >
        <img id="icon-nav" src="../static/images/Group 29.png"> </img>
        <h1  id="heading-main">CoviFight</h1>
        <div class="items">
          </div>
    </div>
    <div id="grey_box"></div>
    <div id="heading_name">
    CoviFight App
    </div>
    </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../static/js/landing_page.js"></script>
</html>