<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>

	<div class="main_container">
		<div class="header">
			<img src="../static/images/Group 29.png">
			<a href="#">DocApp</a>
		</div>
		<div>
		  <form action="/action_page.php">
		  	<h2>Enter your credentials</h2>
		    <input type="text" id="email_id"  placeholder="Your Email ID..">

		    <input type="text" id="password"  placeholder="Your password..">

		    <input type="submit" value="Login">
		  </form>
		</div>




	</div>
</body>
</html>