<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	
</head>
<body>

	<div class="main_container">
		<div class="header">
			<img src="../static/images/Group 29.png">
			<a href="#">DocApp</a>
		</div>
		<div>
		  <form method="POST" onsubmit="return check();">
		  	<h2>Enter your credentials</h2>
		    <input type="text" id="email_id"  placeholder="Email ID">
            <input type="text" id="username"  placeholder="Username">
		    <input type="text" id="password"  placeholder="Password">
            <span id='message'></span>
		    <input type="submit" value="Login">
		  </form>
		</div>


<script src="../static/js/login.js"></script>

	</div>
</body>
</html>