<html>
<head>
<title>Covid-19 Doctor App</title>   
<link rel="stylesheet" type="text/css" href="../static/css/main.css"> 
</head>
<body >

  <div id="nav" >
    <img id="icon-nav" src="../static/images/Group 29.png"> </img>
    <h1  id="heading-main">DocApp</h1>
    <div class="profile">
      <img class="profile-pic" src="../static/images/profile.png"></img>
      <h3 id="name">Biswa Kr</h3>
      <h3 id="address"> Lajpat Nagar, Delhi</h3>
      </div>
 </div>
    <div class="panel">
        <div class="slidebar">
          <ul>
            <li class="li-head">Hello!!</li>
            <li><a href="#notification" >Notification</a></li>
            <li><a href="#people">People</a></li>
            <li><a href="#hotspot">Hotspots</a></li>
            <li><a href="#maps">Maps</a></li>
          </ul>
        </div>
        <div class="main">
          <div class="mainContent ">
             <div id="notification">
               <h2 style="position: absolute; color: #2c2b64; top: 9vh; font-size: 30px;">Search</h2>
              <form class="search-form" action="">
                <input type="text" id="search-input"  placeholder="Search for notifications ">      
                <input type="submit" value="search" id="button">
              </form>
             </div>
             <div id="people">
              <h2 style="position: absolute; color: #2c2b64; top: 9vh; font-size: 30px;">Search</h2>
              <form class="search-form" action="">
                <input type="text" id="search-input"  placeholder="Search for People ">      
                <input type="submit" value="search" id="button">
              </form>
             </div>
             <div id="hotspot">
              <h2 style="position: absolute; color: #2c2b64; top: 9vh; font-size: 30px;">Search</h2>
              <form class="search-form" action="">
                <input type="text" id="search-input"  placeholder="Search for Hotspots ">      
                <input type="submit" value="search" id="button">
              </form>
             </div>
             <div id="maps">
              <h2 style="position: absolute; color: #2c2b64; top: 9vh; font-size: 30px;">Search</h2>
              <form class="search-form" action="">
                <input type="text" id="search-input"  placeholder="Search for Maps ">      
                <input type="submit" value="search" id="button">
              </form>
             </div>
           </div>

         </div>
      </div>

</body>
</html>
